<br/><h5 class="text-white">Create your weapon</h5><br/>

<%= simple_form_for @weapon, url: weapons_path do |f| %>
  <%= f.input :name, label: false, placeholder: 'Name', input_html: { class: 'form-control' } %>
  <%= f.submit "Create", class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">

  $('#new_weapon').validate({

    highlight: function(element) {
      jQuery(element).closest('.form-control').addClass('is-invalid');
    },
    unhighlight: function(element) {
      jQuery(element).closest('.form-control').removeClass('is-invalid');
    },
    errorElement: 'div',
    errorClass: 'invalid-feedback text-white',
    rules: {
      'character[name]': { required: true },
    },
    messages: {
      'weapon[name]': { required: "Please fill this input with a name for your weapon." },
    }
  });

</script>
