<br/><h5 class="text-white">Create your character</h5><br/>

<%= render 'form', character: @character %>


<script type="text/javascript">

  $('#new_character').validate({

    highlight: function(element) {
      jQuery(element).closest('.form-control').addClass('is-invalid');
    },
    unhighlight: function(element) {
      jQuery(element).closest('.form-control').removeClass('is-invalid');
    },
    errorElement: 'div',
    errorClass: 'invalid-feedback text-white',
    rules: {
      'character[name]': { required: true },
    },
    messages: {
      'character[name]': { required: "Please fill this input with a name for your character." },
    }
  });

</script>
